<%- include('./static/header.ejs') %>

<main class="contentPage">
    <section id="mainQuestion">
        <p class="questionAuthor" style=" background-image: url(<%= data.question.image %>)"><b><%= data.question.about %></b> <span><%= data.question.author %></span></p>
        <div class="headlineQuestionPublic"><%= data.question.headline %></div>
    </section>
    <div>
        <section class="grid response">
            <% if( data.comments.length > 0 ) { %>
                <% for( let item of data.comments ) { %>
                    <article>
                        <div class="userResponseContent">
                            <div class="headlineReponsePublic"><%= item.headline %></div>
                            <strong class="responseAuthor"><%= item.author %></strong>
                            <ul class="responseFooter">
                                <li>
                                    <button class="likeUserInteraction" id-data="<%= item._id %>">
                                        <img src="./img/up.png" alt="J'aime">
                                        <p><%= item.like %></p>
                                    </button>
                                </li>
                                
                                <li>
                                    <button class="likeUserInteraction" id-data="<%= item._id %>">
                                        <img src="./img/down.png" alt="Je n'aime pas">
                                        <p><%= item.dislike %></p>
                                    </button>
                                </li>
                            
                            </ul>
                        </div>
                    </article>
                <% } %>
            <% } %>
            <% if(data.comments.length < 2) { %>
                <aside></aside>
            <% } %>
            
            <% if(data.comments.length < 3) { %>
                <aside></aside>
            <% } %>
        </section>
    </div>
</main>

<% include ./static/footer.ejs %>