<%- include('./static/header.ejs') %>

<main class="questionPage">
    <section id="mainQuestion">
        <p class="questionAuthor" style=" background-image: url(<%= data.question.image %>)"><b><%= data.question.about %></b> <span><%= data.question.author %></span></p>
        <div class="headlineQuestionPublic"><%= data.question.headline %></div>
    </section>
    
    <section class="grid">
            
    </section>
</main>

<% include ./static/footer.ejs %>