<% 
    let activeLikeClass = "likeUserInteraction";
    let activeDisLikeClass = "likeUserInteraction";
    for( let item of data.like ) { 
        if(item.identifier === isLogged){ activeLikeClass = "likeUserNoInteraction" }
    }
    for( let item of data.dislike ) { 
        if(item.identifier === isLogged){ activeDisLikeClass = "likeUserNoInteraction" }
    } 
%>
<article>
    <div class="userResponseContent">
        <%- include('./header-response.ejs', { data: data }); %>

        <div class="headlineReponsePublic"><%= data.headline %></div>
        <ul class="responseFooter">
            <li>
                <button class="interactionBtn like<%= data._id %> <%= activeLikeClass %>" id-data="<%= data._id %>">
                    <img src="./img/up.png" alt="J'aime">
                </button>
            </li>
            <li>
                <button class="interactionBtn dislike<%= data._id %> <%= activeDisLikeClass %>" id-data="<%= data._id %>">
                    <img src="./img/down.png" alt="Je n'aime pas">
                </button>
            </li>
        </ul>
    </div>
</article>