<article class="userQuestion">
    <p class="questionAuthor" style=" background-image: url(<%= data.question.image %>)"><b><%= data.question.about %></b> <span><%= data.question.author %></span></p>
    <div class="headlineQuestionPublic"><%= data.question.headline %></div>
</article>

<article>
    <button class="showQuestionBtn" id-data="<%= data.question._id %>" id-question="<%= data.question.headline %>">
        <img src="./img/show-question.png" alt="Proposer une réponse">
    </button>

    <% if(isLogged) { %>
        <button class="addResponseBtn" id-data="<%= data.question._id %>" id-question="<%= data.question.headline %>">
            <img src="./img/response.png" alt="Proposer une réponse">
        </button>
    <% } %>
</article>