<article class="userQuestion">
    <p class="questionAuthor" style=" background-image: url(<%= data.question.image %>)"><b><%= data.question.about %></b> <span><%= data.question.author %></span></p>
    <div class="headlineQuestionPublic"><%= data.question.headline %></div>
</article>

<ul class="questionFooter">
    <li>
        <button class="showQuestionBtn" id-data="<%= data.question._id %>">
            <img src="./img/show-question.png" alt="Voir les réponses">
        </button>
    </li>

    <li>
        <button class="showQuestionBtn" id-data="<%= data.question._id %>">
            <img src="./img/up.png" alt="Voir les réponses">
            <p><%= data.question.like %></p>
        </button>
    </li>
    
    <li>
        <button class="showQuestionBtn" id-data="<%= data.question._id %>">
            <img src="./img/down.png" alt="Voir les réponses">
            <p><%= data.question.dislike %></p>
        </button>
    </li>
   
</ul>