<div class="userQuestion" style=" background-image: url(<%= data.question.image %>); ">
    <p class="questionAuthor">
        <b><%= data.question.about %></b> 
        <span class="userId" data-user-id="<%= data.question.author._id %>"><%= data.question.author.additionalName %></span>
    </p>
    <h2><%= data.question.headline %></h2>
</div>


<div class="userResponse">
    <% if(data.comments.length > 0) { %>
        <ul class="commentList">
            <% data.comments.map(item => { %>
                <li><%- include('./card-comment.ejs', { item: item }); %></li>
            <% }) %>
        </ul>
    <% } %>

    <% if(isLogged) { %>
        <button class="addResponseBtn" id-data="<%= data.question._id %>" id-question="<%= data.question.headline %>">
            <span>Tu t'y connais en <b><%= data.question.about %></b> ?</span>
            Propose une réponse
        </button>
    <% } %>
</div>
