<div class="userQuestion" style=" background-image: url(<%= data.question.image %>); ">
    <p class="questionAuthor"><b><%= data.question.about %></b> <span><%= data.question.author %></span></p>
    <!-- <h2><%= data.question.headline %></h2> -->
    <textarea class="headlineQuestionPublic" required minlength="20"><%= data.question.headline %></textarea>
</div>
<div>
    <button class="showQuestionBtn" id-data="<%= data.question._id %>" id-question="<%= data.question.headline %>">
        <img src="./img/show-question.png" alt="Proposer une réponse">
    </button>

    <% if(isLogged) { %>
        <button class="addResponseBtn" id-data="<%= data.question._id %>" id-question="<%= data.question.headline %>">
            <img src="./img/response.png" alt="Proposer une réponse">
        </button>
    <% } %>
</div>