<p class="questionAuthor" style=" background-image: url(<%= data.question.image %>)">
    <b><%= data.question.about %></b> 
    <span><%= data.question.author %></span>
    <strong id-data="like-<%= data.question._id %>"><em>Score</em> <span><%= data.question.like.length %></span></strong>
</p>

<div class="headlineQuestionPublic"><%= data.question.headline %></div>